// Specific CSS for your home-page
.background-img{
  opacity: 0.4;
}

h2 {
  font-weight: bolder;
  color: black;
}

.tagjs{
  height:100px;
  text-align: center;
  margin-top: 40px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    color: #A9D6E5;

}

.home-div{
  p{
  font-size: 20px;
  color: #A9D6E5;
  }
  .btn-success {
    color: #012A4A;
    background-color: #A9D6E5;
    border-color: #013A63;
}
}

#banner-typed-text {
  font-size: 30px;
  color: #A9D6E5;;
  text-shadow: 0px 0px 6px rgba(255,255,255,0.7);
}