.backimg-color{
  position: absolute;
  background-color: #2A6F97;
  width: 100%;
  height: 91.5vh;
  background-position: center;
  background-size: cover;
  filter: blur(1px);
  -webkit-filter: blur(1px);
}

.park-show {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 40px #A9D6E5;
  border-radius: 5px;
  margin: 5px;
}

.park-show > img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.park-show h3, h2 {
    color: #013A63; 
    font-family: 'Helvetica Neue', sans-serif; 
    font-size:25px; 
    font-weight: bold; 
    letter-spacing: -1px; 
    line-height: 1;
    text-align: center; 
}

.park-show p {
  font-size: 14px;
  opacity: .9;
  margin: 0;
}

.reviewbtn {
  background-color: #2a9d8f !important;
}

.bookingbtn {
  background-color: #219ebc !important;
}


.park-show .park-show-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

//User show with booking and reviews

#banner img{
  height: 400px;
  width: 100%;
  position: absolute;
}

.banner-text {
  position: relative;
  z-index: 1;
  top: 100px;
  left: 10%;
}

.banner-form-booking {
  position: relative;
  z-index: 1;
  top: 50px;
  right: 10%;
  width: 40%;
}

#user-show-reviews{
  padding: 90px;

  .form-font {
    font-size: 30px;
    font-weight: bolder;
    color: white;
  }

  .form-font:hover{
    color: black;
  }

  .container-reviews {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  h2 {
    font-size: 26px;
    margin: 20px 0;
    text-align: center;
    small {
      font-size: 0.5em;
    }
  }
  
  .responsive-table {
    li {
      border-radius: 3px;
      padding: 25px 30px;
      display: flex;
      justify-content: space-between;
      margin-bottom: 25px;
    }
    .table-header {
      background-color: #95A5A6;
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: 0.03em;
    }
    .table-row {
      background-color: #ffffff;
      box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
    }
    .col-1 {
      flex-basis: 10%;
    }
    .col-2 {
      flex-basis: 40%;
    }
    .col-3 {
      flex-basis: 25%;
    }
    .col-4 {
      flex-basis: 25%;
    }
    
    @media all and (max-width: 767px) {
      .table-header {
        display: none;
      }
      .table-row{
        
      }
      li {
        display: block;
      }
      .col {
        
        flex-basis: 100%;
        
      }
      .col {
        display: flex;
        padding: 10px 0;
        &:before {
          color: #6C7A89;
          padding-right: 10px;
          content: attr(data-label);
          flex-basis: 50%;
          text-align: right;
        }
      }
    }
  }
}

