.edit-users{
  width: 60%;
}

.back-img-edit{
  height: 100%;
  width: 100%;
  //opacity: 100% !important;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(#468FAF,#014F86)
}

.parkium-hint{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
