<h1>My Bookings</h1>

<% @bookings.each do |booking| %>
    <% if @user.id ==  booking.user_id %>
    <%= booking.date %> <br>
    <%= booking.start_time %> <br>
    <%= booking.end_time %> <br>
    <% end %>
<% end %>