<div class="admin-back-img"></div>
  <div class="container">
  <br><br>
    <h1>My Parkings</h1>
      <div class="cards-admin">
        <% @parkings.each do |parking| %>
          <% if @user.is_admin && parking.user_id == @user.id %>
            <div class="card-category">
              <div class="card-trip">
                <% if parking.photo.attached? %>
                  <%= cl_image_tag parking.photo.key, crop: :fill%>
                <% else %>
                  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
                <% end %>

                <div class="card-trip-infos">
                  <div>
                    <strong><%= link_to parking.name, parking_path(parking), class:"linktobeused" %></strong>
                    <p><%= parking.address %></p>
                  </div>
                    <h2 class="card-trip-pricing">Rs.<%= parking.fees %>/hr</h2>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
    </div>
  </div>
