<div class="my-container">
    <main class="s">
        <div class="centered"  style="color:white;">
            <div class="logo text-center">
                <br>
                    <%= image_tag "logo2.png" %>
                    <div>

                <br>
                <p>ENTER PARKIUM</p>
                    <%= link_to "As a Parking Seeker", new_user_session_path, class:"btn btn-primary" %>
                    or
                <%= link_to "As a Parking Owner", new_user_session_path, class:"btn btn-success" %>
        </div>
    </main>
</div>
