<div>
    <div align="center" style="padding-top:160px;">

    <h1>Welcome to Parkium</h1>
    <br>
    <%= link_to "Enter Parkium as a Parking Seeker", new_user_session_path, class:"btn btn-primary" %> 
    or 
    <%= link_to "as a Parking Owner", new_user_session_path, class:"btn btn-success" %>

    </div>
</div>

