<div class="my-container">
    <main class="s">
     <div class="centered"  style="color:white;">
         <div class="logo text-center">
                <img src="https://res.cloudinary.com/dac3khgir/image/upload/v1637247379/development/logo_transparent_dxr1f4.png">
        <div>
            <h1>Welcome to Parkium</h1>
            <br>
            <p>ENTER PARKIUM</p>
            <%= link_to "As a Parking Seeker", new_user_session_path, class:"btn btn-primary" %> 
            or 
            <%= link_to "As a Parking Owner", new_user_session_path, class:"btn btn-success" %>
        </div>
    </main>
</div>
