<% if @user.is_admin %>
<!-- The admin Banner starts here -->
<div class="d-flex">
  <div>
    <div class="card-trip-banner"  style="height: 29vh; width:200px;">
      <img src="https://cdn-icons-png.flaticon.com/512/2311/2311991.png">
      <div class="card-trip-infos">
        <div>
          <h2>Create & Add</h2>
          <p>Create and add your parking location!</p>
        </div>
      </div>
    </div>

    <div class="card-trip-banner"  style="height: 29vh; width:200px;">
      <img src="https://cdn-icons-png.flaticon.com/512/792/792130.png">
        <div class="card-trip-infos">
          <div>
            <h2>Bookings & Reviews</h2>
            <p>Check parking bookings and reviews!</p>
          </div>
        </div>
    </div>

   <div class="card-trip-banner"  style="height: 29vh; width:200px;">
      <img src="https://cdn-icons-png.flaticon.com/512/3270/3270287.png"><div class="card-trip-infos">
          <div>
            <h2>Edit & Delete</h2>
            <p>Edit, update or delete your parking location!</p>
          </div>
        </div>
    </div>
<!-- The admin Banner ends here -->
<% else %>
<!-- The Banner starts here -->
<div class="d-flex">
  <div>
    <div class="card-trip-banner"  style="height: 28vh; width:200px;">
      <img src="https://cdn-icons-png.flaticon.com/512/2928/2928989.png">
      <div class="card-trip-infos">
        <div>
          <h2>Wherever, Whenever</h2>
          <p>Choose from several spaces across the island!</p>
        </div>
      </div>
    </div>

    <div class="card-trip-banner"  style="height: 29vh; width:200px;">
      <img src="https://cdn-icons-png.flaticon.com/128/943/943933.png">
        <div class="card-trip-infos">
          <div>
            <h2>View Details</h2>
            <p>View information and price on available spaces!</p>
          </div>
        </div>
    </div>

   <div class="card-trip-banner"  style="height: 28vh; width:200px;">
      <img src="https://cdn-icons-png.flaticon.com/512/3078/3078914.png"><div class="card-trip-infos">
          <div>
            <h2>Book a Spot</h2>
            <p>Book your parking space and be on your way!</p>
          </div>
        </div>
    </div>
  </div>
  <!-- The Banner view ends here -->
<% end %>


  <!-- The Mapbox view starts here -->
  <div id="map"
          style="width: 100%; height: 86vh;"
          data-markers="<%= @markers.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
        <!-- The Mapbox view ends here -->






