    <!--the admin code starts here -->
<h1>List of Parking Spaces</h1>
        <br><br>
<% @parkings.each do |parking| %>
<div>
    <% if @user.is_admin && parking.user_id == @user.id %>
        <ul>
            <li>
                <%= link_to parking.name, parking_path(parking) %> <br>
                <%= cl_image_tag parking.photo.key, height: 100, width: 100, crop: :fill %>
            </li>
        </ul>
</div>
    <!--the admin code ends here -->

    <!--the user code starts here -->
    <% elsif  @user.is_admin == false %>
<div>
    <ul>
        <li>
            <%= link_to parking.name, parking_path(parking) %> <br>
            <%= cl_image_tag parking.photo.key, height: 100, width: 100, crop: :fill %>
        </li>
    </ul>
</div>
    <% end %>
<% end %> 

<!--the admin code ends here -->
