//background image
.admin-back-img{
  background: url(https://res.cloudinary.com/dac3khgir/image/upload/v1637779334/development/pexels-photo-5612009_ymfrj0.jpg);
    height: 100vh;
    width: 100%;
    opacity: 100% !important;
    background-position: center;
    background-size: cover;
    filter: blur(3px);
    -webkit-filter: blur(2px);
}

.container {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 10px;
}

//card-trip css
.card-trip {
    overflow: hidden;
    background: white;
    box-shadow: 0 0 30px #A9D6E5;
    width: 300px;
    height: 300px;
    border-radius: 10px;
  }

  .card-trip > img {
    height: 200px;
    width: 100%;
    object-fit: cover;
  }

  h1 { 
    color: #013A63; 
    font-family: 'Helvetica Neue', sans-serif; 
    font-size:35px; 
    font-weight: bold; 
    letter-spacing: -1px; 
    line-height: 1;
    text-align: center; 
  }

  .card-trip .linktobeused {
    list-style: none;
    text-decoration: none;
    color: #012A4A;
    font-size: large;
  }

  .card-trip h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }

  .card-trip p {
    font-size: 14px;
    opacity: .9;
    margin: 0;
  }

  .card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.cards-admin {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  grid-gap: 40px;
  margin-top: 15px;
  margin-left: 15px;
  padding-top: 15px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards-admin {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards-admin {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards-admin {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards-admin {
    grid-template-columns: 1fr 1fr 1fr ;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards-admin {
    grid-template-columns: 1fr 1fr 1fr ;
  }
}
