.nbody{
  background-color: #01497C;
}

.card-trip-banner {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 5px;
  padding-top: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-trip-banner > img {
  height: 100px;
  width: 35%;
  object-fit: contain;
  margin-top: 10px;
}

.card-trip-banner h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  text-align: center;
}

.card-trip-banner p {
  font-size: 14px;
  opacity: .7;
  margin: 0;
  text-align: center;
}


.card-trip-banner .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.log-in {
  margin: 20px;
  padding: 10px;
  background-color: rgba(128, 128, 200, 0.7);
  width: 50%;
  border-radius: 10px;
}


// 