#map{
    margin: 6px;
    padding-top: 10px;
    border-radius: 5px;
}

.mapboxgl-popup {
    max-width: 200px;
    padding: 0px;

        .container2{
            position: relative;
            p {
                font-size: 25px;
                font-weight: bold;
                font-style: normal;
            }

            a {
                list-style: none;
                text-decoration: none;
                color: whitesmoke
            }

            a:hover{
                font-size: 22px;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                opacity: 70%;
                color: black;
            }
        }

    img{
        width: 100%;
        height: 150px;
        object-fit: cover;
        opacity: 85%;
    }

    .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.mapboxgl-popup-content {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    padding: 0 !important;
}

.mapboxgl-popup-close-button{
    display: none;
}

