.navbar-lewagon {
  justify-content: space-between;
  background: white;
  padding: 3px 2px 0 6px;
  border-radius: 3px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
}
